

#banner{

    
    img{
        width: 50px;
        height: auto;
        border-radius: 100%;
       

        
    }
}

img{
    width: 150px;
    height: auto;
    border-radius: 100%;
}

.skills-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60vw;
    // margin-left: -42px;
    
   
    

   p{
       
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    
   }
}

.svg{
    display: flex;
    flex-direction: column;
    width: 3em;

    
}

img{
    width: 100;
}

@media only screen and (max-width: 700px){

    .skills-container{
        width: 80vw;
    }
}