.link-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    

    
    button{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        font-size: 16px;
        border: white solid 1%;
        border-radius: 10px;
        padding: 15px;
        font-weight: normal;
        
        
    }



}

.looking-container{
    padding-left: 30px;
}

.info-container{
    padding-left: 30px;
}
.major{
    padding-left: 30px;
    font-size: 16px;
}



@media only screen and (max-width: 700px){

    .major{
        padding: 20px;
        padding-left: 40px;
        
    }


    .looking{
        display: flex;
        width: 90vw;
        padding: 15px;
       
        
    }

    .link-container{
       justify-content: left;
       padding: 20px;
       gap: 10px;
    }

    .info-container{
        margin-left: 20px;
    }

}